body {
  background: #f9f9f9;
  .background {
    .wrapperBasket {
      font-family: Nunito;
      width: 300px;
      background: #ffffff;
      border-radius: 18px;
      padding: 20px;
      @media (max-width: 1005px) {
        width: 100%;
      }
      .wrapperItems {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        h1 {
          font-size: 30px;
          font-weight: 600;
          line-height: 24px;
        }
        span {
          padding: 5px 20px;
          background: #f2f2f3;
          border-radius: 6px;
          font-size: 12px;
          font-weight: 400;
          line-height: 16.37px;
        }
      }
      hr {
        margin-top: 15px;
        border-style: solid;
        border-color: #f2f2f3;
        margin-bottom: 15px;
      }
      .wrapperBuy {
        display: flex;
        justify-content: space-between;
        .infoCheese {
          display: flex;
          .desc {
            display: flex;
            flex-direction: column;
          }
        }
        img {
          width: 64px;
          height: 52px;
          padding: 10px;
        }
        h2 {
          font-size: 15px;
          font-weight: 400;
          line-height: 16.37px;
        }
        p {
          color: #b1b1b1;
          font-size: 12px;
          font-weight: 400;
          line-height: 16.37px;
        }
        .countCheese {
          display: flex;
          justify-content: space-between;
          width: 84px;
          align-items: center;
          padding: 5px 20px;
          background: #f2f2f3;
          border-radius: 12px;
          width: 60px;
          height: 50px;
          span {
            font-size: 16px;
            font-weight: 400;
            line-height: 21.82px;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          button {
            cursor: pointer;
            background-color: inherit;
            border: none;
            font-size: 16px;
            font-weight: 400;
            line-height: 21.82px;
            &:first-child {
              color: red;
            }
            &:last-child {
              color: limegreen;
            }
          }
        }
      }
      .sumWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        h3 {
          font-size: 16px;
          font-weight: 400;
          line-height: 20.8px;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 20.8px;
        }
      }
      .getcall {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        button {
          cursor: pointer;
          width: 268px;
          background: #ff7020;
          padding: 11px 32px;
          border: none;
          border-radius: 12px;
          color: white;
        }
      }
      .freeget {
        display: flex;
        align-items: center;
        p {
          padding-left: 10px;
          font-size: 15px;
          font-weight: 400;
          line-height: 16.37px;
        }
      }
    }
  }
  .wrapperBasket {
    cursor: pointer;
  }

  .itemsContainer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
}
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  position: relative;

  h1 {
    margin-bottom: 15px;
  }

  .closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #ff7020;
    &:hover {
      color: darkred;
    }
  }

  .submitButton {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #ff7020;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: #e66b1f;
    }
  }
}

.formGroup {
  margin-bottom: 15px;

  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    resize: none;

    &:focus {
      border-color: #ff7020;
      outline: none;
    }
  }

  textarea {
    height: 60px;
  }
}

.floorIntercom {
  display: flex;
  justify-content: space-between;

  .formGroup {
    width: 48%;
    margin-bottom: 15px;
  }
}

.deliveryMethod {
  margin-bottom: 15px;

  .radioLabel {
    display: flex;
    margin-bottom: 15px;
    input {
      margin-right: 10px;
    }
  }
}
.orderSummary {
  margin-top: 20px;
  h2 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  h3 {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin: 10px 0;
    .deliveryCharge {
      vertical-align: 55px;
      font-size: 1rem;
      color: #666;
    }
  }
}
