.wrapperChoose {
  display: flex;
  overflow-x: auto;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 10px;
  @media (max-width: 1080px) {
    width: 96%;
  }
  @media (max-width: 1005px) {
    margin-bottom: 0px;
  }
  button {
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 50px;
    margin: 10px;
    font-size: 22px;
    font-weight: 400;
    line-height: 21.82px;
    transition: background-color 0.3s;
    white-space: nowrap;
    min-width: 120px;
    @media (max-width: 1580px) {
      font-size: 16px;
      line-height: 21.82px;
    }
    &:hover {
      background-color: #f0e68c;
    }
    img {
      padding-right: 10px;
    }
  }
}
button.active {
  background-color: #ffab08;
}
